[defaults]
# Mengatur default inventory ke environment dev (bisa di override via CLI -i)
inventory = inventories/dev/aws-dev.ini

# Path ke direktori roles
roles_path = roles

# Mematikan pengecekan host key saat koneksi SSH pertama kali (berguna untuk cloud environment)
host_key_checking = False

# User dan SSH key akan didefinisikan di group_vars/all.yml per environment
# agar lebih dinamis jika dev dan prod menggunakan user/key yang berbeda.

# Jangan buat file .retry jika ada kegagalan
retry_files_enabled = False

# Auto-detect python interpreter
interpreter_python = auto_silent

[privilege_escalation]
# Konfigurasi otomatis sudo (menjadi root)
become = True
become_method = sudo
become_user = root
become_ask_pass = False
