apiVersion: 1

providers:
  - name: 'Airpay Dashboards'
    orgId: 1
    folder: 'Airpay'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /etc/grafana/provisioning/dashboards/json
