apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://127.0.0.1:{{ prometheus_port }}
    isDefault: true
    jsonData:
      timeInterval: 10s
    editable: true
