services:
  node-exporter:
    image: prom/node-exporter:{{ node_exporter_version }}
    container_name: airpay-node-exporter
    restart: unless-stopped
    network_mode: "host"
    pid: "host"
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
      - '--web.listen-address=0.0.0.0:{{ node_exporter_port }}'
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
