services:
  scylladb:
    image: scylladb/scylla:{{ scylla_version }}
    container_name: airpay-scylla
    restart: unless-stopped
    command: >
      --cluster-name {{ scylla_cluster_name }}
      {% if scylla_seeds != '' %}
      --seeds {{ scylla_seeds }}
      {% endif %}
    volumes:
      - {{ scylla_data_dir }}:/var/lib/scylla
    network_mode: "host"
    ulimits:
      nofile:
        soft: 100000
        hard: 100000
